.footer{
    background: none !important;
    position: absolute;
    top: 82%;
    width: 100%;
    padding: 3rem 1.5rem 2rem!important;
}

.color-text{
    color: var(--secondary-color) !important;
}
.footer-text{

    bottom: 16px;
}

/* @media screen and (max-width: 835px){
    .footer{
        margin-top: 50px;
    }
} */
@media screen and (max-width: 905px){
    .footer{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1025px){
    .footer{
        margin-top: 50px;
    }
}
