.footer{
    background: none !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3rem 1.5rem 2rem!important;
}

.color-text{
    color: var(--secondary-color) !important;
}
.footer-text{

    bottom: 16px;
}