.gameCard{
    height: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 10px !important;
    background-color: rgba(0,0,0,0.3) !important;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.50);
    cursor: pointer;
}

.game-card-hover{
    background-color: #b06010 !important;
}
.game-card-selected{
    background-color: #004990 !important;
}

.not-available {
    background-color: #727272 !important;
}

.btn-dashboard{
    width: 100%;
    height: 60px;
    border: none !important;
}

.btn-play{
    background-color: #004990 !important;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.50);
}

.btn-invite{
    background-color: #b06010 !important;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.50);
}

.icon{
    font-size: 60px;
    margin: 10px;
    color: white;
    transition: all 500ms ease-out;
}

.title-card{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    transition: all 500ms ease-out;
}


.description-card{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
