.playersColumn{
    border-radius: 40px !important;
    margin: 20px;
}

.player{
    border-radius: 20px !important;
    margin: 20px;
    text-align: center;
}


.card-player{
    margin: 50px;
    border: none !important;
    background-color: rgba(0,0,0,0.3) !important;
    
}