.playersColumn{
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
}

.player{
    border: 2px solid black;
    border-radius: 360px !important;
    margin: 20px;
    text-align: center;
}


.cardPlayer{
    margin: 50px;
    border-radius: 20px !important;
    box-shadow: 2px 2px 5px #ccc;
}