.content-size{
    min-height: 300px;
}

.letter-button {
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.board{
    height: 500px;
    padding-bottom: 10px;
}

.hang-man{
    width: 100%;
    height: 100%;
}

.space{
    width: 15px;
}
.answer-space{
    padding: 2px;
}

.btn-full-size {
    background: none;
    width: 100% !important;
    border:  none !important;
    color: #b06010 !important;
    height: 100% !important;
    font-size: 25px;
    font-weight: bold;
    
}

.btn-full-size:hover {
    /* background-color: #b06010 !important; */
    color: #004990 !important;
}

.btn-medium {
    width: 200px;
    background-color: #b06010 !important;
    border: none !important;
}
.content-end{
    text-align: right;
}

.completed{
    background: chartreuse !important;
}
.game-over{
    background-color: red !important;
    color: white !important;
}
.icon-trophy{
    font-size: 20px;
}
.place-1{
    color: rgb(169, 159, 48);
}
.place-2{
    color: rgb(103, 103, 103);
}
.place-3{
    color: rgb(101, 65, 38);
}