.letter-button {
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.board{
    height: 500px;
    padding-bottom: 10px;
}

.hang-man{
    width: 100%;
    height: 100%;
}

.space{
    width: 15px;
}
.answer-space{
    padding: 2px;
}

.btn-full-size {
    width: 100%;
    background-color: #b06010 !important;
    border: none !important;
}
.btn-medium {
    width: 200px;
    background-color: #b06010 !important;
    border: none !important;
}
.content-end{
    text-align: right;
}

.completed{
    background: chartreuse !important;
}
.game-over{
    background-color: red !important;
    color: white !important;
}