.size{
    width: 50%;
}

.fade-in-down-top {
    position: fixed;
    text-align: center;
	animation-name: mover;
    left: 10px;
    bottom: 10px;
    width: 25%;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 0.5s;
    opacity: 1;
    z-index: 100;
}

@keyframes mover {
    0% { bottom: -50px; opacity: 0; }
    100% { bottom: 10px; opacity: 1;}
}


@media only screen and (max-width: 700px) {
    .fade-in-down-top{
        width: 90%;
    }

}