.size{
    width: 50%;
}

.fade-in-down-top {
    position: fixed;
    text-align: center;
	animation-name: mover;
    left: 25%;
    width: 50%;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 0.5s;
    opacity: 1;
    z-index: 100;
}

@keyframes mover {
    0% { margin-top: 50px; opacity: 0; }
    100% { margin-top: 0; opacity: 1;}
}