
.fade-in-down-top {
    position: fixed;
    text-align: center;
	animation-name: mover;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 0.5s;
    opacity: 1;
    z-index: 100;
    width: 100%;
}

@keyframes mover {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

