:root {
  --background-color: #EDEDED;

  /* Juegos disponibles  */
  --primary-color:  #444444;
  /* Navbar */
  --secondary-color: #171717;
  /* Tarjetas de Login y de listado de jugadores */
  --tertiary-color: #DA0037;


  /* Boton flotante de informacion */
  --primary-decoration: #DA0037;

  /* BACKGROUND DE LOS MODALES */
  --secondary-decoration: #EDEDED;
  
  
  /* ACCION */
  --primary-button: #171717;
  /* ACCION SECUNDARIO */
  --secondary-button: #DA0037;

  /* JUEGOS NO DISPONIBLES */
  --not-available-color: #c4c4c4;
}

.icon-green {
  color: green !important;
}
.icon-red{
  color:red !important;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  background-color: var(--background-color) !important;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.background{
  width: 100%;
  /*background-color: #b50938;*/
}


.header {
  background-color: var(--secondary-color)!important;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}
.white-title{
  color: white !important;
}

::-webkit-scrollbar {
  display: none;
}