:root {
  --primary-button: #004990;
  --secondary-button: #b06010;
  --background-color: #b50938;
  --primary-color:  rgba(0,0,0,0.3);
  --secondary-color: rgba(0,0,0,0.6);
  --tertiary-color: #fff;
  --not-available-color: #727272;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  background-color: var(--background-color) !important;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.background{
  width: 100%;
  /*background-color: #b50938;*/
}


.header {
  background-color: var(--secondary-color)!important;
  box-shadow: 0 10px 20px 0 var(--primary-color);
}
.white-title{
  color: white !important;
}