:root {
  --background-color: #E8ECF1;

  /* Juegos disponibles  */
  --primary-color:  #230cf0;
  /* Navbar */
  --secondary-color: #d616ad;
  /* Tarjetas de Login y de listado de jugadores */
  --tertiary-color: #df0c0c;


  /* Boton flotante de informacion */
  --primary-decoration: #0babe1;

  /* BACKGROUND DE LOS MODALES */
  --secondary-decoration: #EEEEEE;
  
  
  /* ACCION */
  --primary-button: #7393A7;
  /* ACCION SECUNDARIO */
  --secondary-button: #6C737E;

  /* JUEGOS NO DISPONIBLES */
  --not-available-color: #727272;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  background-color: var(--background-color) !important;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.background{
  width: 100%;
  /*background-color: #b50938;*/
}


.header {
  background-color: var(--secondary-color)!important;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}
.white-title{
  color: white !important;
}